:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.7);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  padding: 0 2rem;
}

.flex {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.form-group {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.bg-black {
  background-color: black;
}

.highlight-0 {
  color: #ffadad;
  font-weight: bold;
}
.highlight-1 {
  color: #ffd6a5;
  font-weight: bold;
}
.highlight-2 {
  color: #fdffb6;
  font-weight: bold;
}
.highlight-3 {
  color: #caffbf;
  font-weight: bold;
}
.highlight-4 {
  color: #9bf6ff;
  font-weight: bold;
}
.highlight-5 {
  color: #a0c4ff;
  font-weight: bold;
}
.highlight-6 {
  color: #bdb2ff;
  font-weight: bold;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: left;
}


h1 {
  font-size: 2rem;
  line-height: 1.1;
}

select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
  text-align: left;
  font-size: 1.5rem;
}
li {
  cursor: pointer;
}
li:hover {
  text-decoration: underline;
}

html {
  font-size: 32px;
}
table {
  border-collapse: collapse;
}

th, td {
  border: none;
  border-bottom: 1px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

td span + span {
  border-left: 1px solid white;
  padding-left: 8px;
  margin-left: 4px;
}
